<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.github.fellowship_of_the_bus.draconia">
  <application
    android:icon="@android:drawable/btn_star_big_on"
    android:label="Draconia">

    <activity android:label="Draconia" android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

  <uses-sdk android:minSdkVersion="16"/>
</manifest>
